#Link{
    color:#18BC9C; 
}
a:hover { 
    color: #18BC9C;
  }

  jumbotron{
      text-align:left;
  }
h1{
    text-align:left;
    

}
a {
    color: #18BC9C;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}